// USER VARIABLES SECTION

$textColor: #272727; 
$fontsize: 20px; 
$textColorLight: #8e8d8d; 
$tinos: Tinos, sans-serif;
$red: #e30713;

// IMPORT SECTION

@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

// GENERAL DOCUMENT STYLES

body{
    font-family: $tinos;
	font-size: $fontsize;
	color: $textColor;
}
