@import "config",
        "carousel",
        "animation";

// ----Header----
.header{
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 100;
}

.mobile-menu{

    &__btn{
        z-index: 10;
        outline: none;

        @include media-mobile{
            border: none;
        }
    }

    &__hide-block{

        @include media-tablet{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ececec;
            width: 100%;
        }

        @include media-mobile{
            position: absolute;
            top: 0;
        }
    }
}

.menu{
    padding-top: 35px;

    &__list{
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;

        @include media-tablet{
            flex-direction: column;
            align-items: center;
        }
    }

    &__item{

        @include media-tablet{
            margin-bottom: 35px;
        }
    }
    &__link{
        @include link;
    }
}

.header-contacts{

    display: flex;
    justify-content: flex-end;

    &__lang{
        width: 65px;
        border-left: 1px solid #a8a8a8;

        @include media-tablet{
            border-left: none;
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &__contacts{

        text-align: right;
        padding-right: 15px;
        display: flex;
        flex-direction: column;

        @include media-tablet{
            display: none!important;
        }
    }
    &__contacts-mobile{
        text-align: center;

        @include media-desktop{
            display: none;
        }

        @include media-mobile{

            font-size: 14px;

            span{
                line-height: 22px;
                font-size: 14px;
            }
        }
    }
    &__link{
        @include link;

        @include media-mobile{
            font-size: 14px;
            line-height: 18px;
        }
    }
}

.lang{
    &__list{
        list-style: none;
        margin: 0;
        margin-top: 3px;
        padding-left: 14px;

        @include media-tablet{
            display: flex;
            justify-content: space-around;
        }

    }
    &__link{
        @include link;
        font-size: 16px;

        @include media-tablet{
            font-size: 24px;
        }
    }
}

.logo{

    display: flex;
    justify-content: center;
    align-items: center;

    img{
        max-width: 100%;
        max-height: 100%;
    }
}

//---sct-1------
.banner{
    height: 85vh;
    background: linear-gradient(180deg, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%),
                url('../images/dest/bg-1.png') no-repeat;
    width: 100%;
    background-size: cover;
    overflow: hidden;

    @include media-mobile{
        height: auto;
    }

    .container{
        height: 100%;

        @include media-tablet{
            height: auto;
        }

        .row{
            height: 100%;

            @include media-tablet{
                height: auto;
            }
        }
    }

}

.banner-info{

    @include media-tablet{
        text-align: center;
    }

    @include media-mobile{
        text-align: center;
    }
    
    &__header{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 40px;    
        
        @include media-tablet{
            font-size: 24px;
            margin-bottom: 20px;
            margin-top: 60px;
            text-align: center;
        }

        @include media-mobile{
            font-size: 18px;
            margin-top: 60px;
            text-align: center;
            line-height: 26px;
        }
    }
    &__text{
        font-size: 18px;
        color: $textColor;
    }
    &__button-block{

        @include media-tablet{
            margin-left: auto;
            margin-right: auto;
        }

        @include media-mobile{
            margin-left: auto;
            margin-right: auto;
        }

        
    }
    &__button{
        margin-top: 45px;

        @include media-mobile{
            padding: 10px 20px;
        }
    }
}

.banner-buttle{
    height: 70vh;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;

    @include media-tablet{
        height: 540px;
        justify-content: center;
    }

    @include media-mobile{
        height: 200px;
        justify-content: center;
    }

    

    &__img{
        max-height: 100%;
        max-width: 100%;

        @include media-tablet{
            position: absolute;
            // left: -65%;
        }

        @include media-mobile{
            position: initial;
        }
    }
}

//--sct-2------
.sct-2{
    margin-bottom: 100px;
    &__header{
        margin-top: 95px;
        margin-bottom: 100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__video-mobile{
        

        max-height: 180px;
        margin-bottom: 45px;

        @include media-tablet{
            max-height: initial;
            width: 100%;
        }
        
        @include media-desktop{
            display: none;
        }
    }
}

.video{

    &__mobile-wrapper{
        @include media-desktop{
            display: none;
        }

        width: 100%;
    }
}

.drops{
    position: relative;
    height: 625px;

    @include media-tablet{
        height: 450px;
        margin-bottom: 20px;
    }

    @include media-mobile{
        height: 300px;
    }
    &__item{
        width: 162px;
        position: absolute;

        @include media-tablet{
            width: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include media-mobile{
            width: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--hlorid{
            top: 315px;
            left: 25px;

            @include media-tablet{
                top: 210px;
                left: 30px;
            }

            @include media-mobile{
                top: 135px;
                left: 35px;
            }
        }
        &--kalciy{
            top:140px;
            left: 190px;

            @include media-tablet{
                top: 90px;
                left: 145px;
            }

            @include media-mobile{
                top: 45px;
                left: 105px;
            }
        }
        &--magniy{            
            left: 375px;

            @include media-tablet{
                left: 265px;
            }

            @include media-mobile{
                left: 185px;
            }
        }
        &--sulfati{ 
            top: 315px;           
            left: 355px;

            @include media-tablet{
                top: 235px;
                left: 275px;
            }

            @include media-mobile{
                top: 135px;
                left: 175px;
            }
        }
        &--natr{
            top:200px;
            left: 550px;

            @include media-tablet{
                top: 120px;
                left: 388px;
            };

            @include media-mobile{
                top: 55px;
                left: 255px;
            };
        }
    }
    &__blob{
        background-image: url('../images/dest/blob.svg');
        background-repeat: no-repeat;
        width: 163px;
        height: 263px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;

        @include media-tablet{
            background-image: url('../images/dest/blob-mobile.svg');
            width: 120px;    
            height: 190px;
        }

        @include media-mobile{
            background-image: url('../images/dest/blob-mobile.svg');
            width: 70px;    
            height: 115px;
        }
    }
    &__fill{
        width: 162px;
        height: 262px;
        background-image: url('../images/dest/wave-2.svg');
        background-position-x: 145px;
        background-repeat: repeat-x;
        animation-name: waveAction;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1s;
        background-clip: content-box;

        @include media-tablet{
            background-image: url('../images/dest/wave-mobile.svg');
            width: 117px;    
            height: 190px;
        }

        @include media-mobile{
            background-image: url('../images/dest/wave-mobile.svg');
            width: 70px;    
            height: 113px;
        }

        &--23{
            background-position-y: 100px;

            @include media-tablet{
                background-position-y: 70px;
            }

            @include media-mobile{
                background-position-y: 40px;
            }
        }
        &--13{
            background-position-y: 185px;

            @include media-tablet{
                background-position-y: 120px;
            }

            @include media-mobile{
                background-position-y: 70px;
            }
        }
        &--15{
            background-position-y: 210px;

            @include media-tablet{
                background-position-y: 150px;
            }

            @include media-mobile{
                background-position-y: 90px;
            }
        }
    }
    &__header{
        color: $textColorLight;
        margin-top: 15px;
        display: block;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.1em;

        @include media-tablet{
            font-size: 14px;
            color: $textColor;
            margin-top: 2px;
        }

        @include media-mobile{
            font-size: 12px;
            color: $textColor;
            margin-top: 2px;
        }
    }
    &__text{
        display: block;
        text-align: center;
        margin-bottom: 50px;
        color: $textColorLight;
        letter-spacing: 0.1em;

        @include media-tablet{
            font-size: 14px;
            margin-bottom: 20px;
        }

        @include media-mobile{
            font-size: 12px;
            margin-bottom: 12px;
        }
    }
}

.uniques{

    .section-title{
        margin-top: 55px;

        @include media-mobile{
            margin-top: 15px;
        }
    }
}
.unique-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__text{
        font-size: 24px;
        letter-spacing: 0.1em;
        color: $textColor;
        line-height: 1.2em;
        letter-spacing: 0.03em;
        margin-bottom: 35px;

        @include media-tablet{
            font-size: 20px;
            margin-bottom: 5px;
            text-align: justify;
        }

        @include media-mobile{
            font-size: 14px;
            margin-bottom: 5px;
        }
    }

    &__list{

        @include media-tablet{
            padding-left: 18px;
        }
        
        @include media-mobile{
            padding-left: 18px;
        }
    }

    &__text-bottom{
        color: $textColorLight;
        font-size: 20px;
        line-height: 1.2em;
    }

    &__list-item{
        margin-bottom: 38px;
        font-size: 16px;

        @include media-tablet{
            margin-bottom: 10px;
        }

        @include media-mobile{
            font-size: 12px;
            margin-bottom: 5px;
            line-height: normal;
        }
    }

}

//--sct-3------

.text-block{
    &__item{
        // margin-bottom: 100px;
        // height: 325px;

        @include media-desktop{
            // min-height: 450px;
        }

        @include media-tablet{
            height: auto;
            margin-bottom: 45px;
        }

        @include media-mobile{
            height: auto;
            margin-bottom: 45px;
        }
    }
    &__header{
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 16px;

        @include media-tablet{
            text-align: center;
            font-size: 12px;
        }

        @include media-mobile{
            text-align: center;
            font-size: 12px;
        }

        &--right{
            text-align: right;

            @include media-tablet{
                text-align: center;
            }
            
            @include media-mobile{
                text-align: center;
            }
        }
    }
    &__text{
        text-align: justify;
        font-size: 14px;
        line-height: 18px;

        @include media-mobile{
            font-size: 12px;
            line-height: 1.2;
        }
    }
}

.watterfall{
    margin-top: 100px;

    @include media-mobile{
        margin-top: 50px;
    }

    &-video{
        @include media-tablet{
            display: none;
        }

        @include media-mobile{
            display: none;
        }
    }

    &__text-blocks{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-title{
        margin-top: 50px;
    }

    
}

.video-bg{
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 550px;
    & video{
        max-width: 100%;
    }
    & video:nth-of-type(2){
        top: 660px;
    }

    &__img{
        position: absolute;
        bottom: 0px;
        right: 15px;
    }
}

.video__mobile-wrapper{
    position: relative;

    &__img{
        position: absolute;
        bottom: 53px;
        right: 30px;
        width: 315px;
        height: 177px;

        img{
            position: absolute;
            bottom: 0;
            right: 10px;
            height: 165px;
            right: 15px;
        }
    }
}

//--sct-4------
.lifestyle{

    .section-title{

        @include media-tablet{
            margin-top: 80px;
            margin-bottom: 30px;
        }
        @include media-mobile{
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
    &__slider{
        width: 100%;

    }
}
.slider{
    margin-left: auto;
    margin-right: auto;
}

//--sct-5------
.catalog{
    background: url('../images/dest/bg-3.png') no-repeat;
    width: 100%;
    margin-top: 140px;
    background-size: cover;

    @include media-mobile{
        margin-top: 60px;
    }

    &__section-title{
        margin-top: 0;
        margin-bottom: 32px;

        @include media-mobile{}
    }
    &__section-header{
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    &__section-under-header{
        letter-spacing: 1px;
    }
    &__content{
        display: none;
        &--show{
            display: block;
        }

        .section-title{
            @include media-tablet{
                display: none;
            }
            @include media-mobile{
                display: none;
            }
        }
    }

    &__mobile-header{
        display: none;

        @include media-tablet{
            display: block;

            .section-title__under-header{
                font-size: 14px;
                line-height: normal;
            }

            .section-title{
                font-size: 14px;
                line-height: normal;
            }
        }

        @include media-mobile{
            display: block;

            .section-title__under-header{
                font-size: 14px;
                line-height: normal;
            }

            .section-title{
                font-size: 14px;
                line-height: normal;
            }
        }
    }

    &__mobile-tab{
        display: none;
        margin-bottom: 40px;

        &-list{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-around;
        }

        &-item{
            cursor: pointer;
            color: $textColorLight;
            width: 73px;
            height: 33px;
            background-color: $gray;            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            line-height: 1;
            text-align: center;
            border-radius: 2px;

            &--active{
                color: white;
                text-decoration: none;
                background-color: $red;
            }
        }

        @include media-tablet{
            display: block;
        }

        @include media-mobile{
            display: block;
        }
    }
}

.catalog-item{
    text-align: center;
    &__header{
        margin-bottom: 50px;

        @include media-mobile{
            font-size: 14px;
        }
    }
}

.catalog-item-elem{
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    height: 290px;

    @include media-tablet{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include media-mobile{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img{
        margin-bottom: 34px;
        max-width: 100%;
        height: auto;

        @include media-mobile{
            margin-bottom: 15px;
        }
    }

    &__img-desc{
        color: $textColorLight;  
        
        @include media-mobile{
            font-size: 12px;
        }
    }

    &__img-header{
        @include media-mobile{
            font-size: 12px;
        }
    }
}

.catalog-carousel{

    @include media-tablet{
        display: none;
    }

    @include media-mobile{
        display: none;
    }
    
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 3px 4px 21px rgba(32, 32, 31, 0.11);
        
    }
    &__item{
        display: block;
        width: 100%;
        height: 220px;
        background-color: #fff;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-wrap: wrap;

        &:hover,&--active{
            box-shadow: 3px 4px 21px rgba(32, 32, 31, 0.11);
            width: 110%;
            z-index: 2;
            
            .catalog-carousel__item-title{
                color: #555;
                font-weight: bold;
            }
        }
    }

    &__item-title{
        font-size: 14px;
        color: $textColorLight;
    }
}

//--sct-6------
.about-place{
    margin-top: 100px;

    @include media-tablet{
        margin-top: 80px;
    }

    @include media-mobile{
        margin-top: 40px;
    }

    &__item{
        margin-bottom: 40px;
        position: relative;

        @include media-tablet{
            display: none;

            &--show{
                display: block;
            }
        }

        @include media-mobile{
            display: none;

            &--show{
                display: block;
            }
        }
    }
    &__img{
        height: 500px;
        max-width: 100%;

        @include media-mobile{
            height: 290px;
        }
    }
    &__img-text-block{
        position: absolute;
        color: white;
        top:50px;
        left: 50px;

        @include media-mobile{
            top: 35px;
            line-height: 1;
        }
    }
    &__image-cont{
        position: relative;

        @include media-mobile{
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        &--r{
            order: 2;
        }
    }
    &__img-header{
       font-size: 40px;
       margin-top: 10px;
       margin-bottom: 5px;

       @include media-mobile{
           font-size: 20px;
           letter-spacing: 1px;
           margin-top: 0;
           margin-bottom: 0;
       }
    }
    &__img-text-over-header{

        @include media-mobile{
            font-size: 14px;
        }
    }
    &__img-text-under-header{
        font-size: 14px;

        @include media-mobile{
            font-size: 12px;
            line-height: 1;
            
        }
    }
    &__text{
        font-size: 14px;
        color: $textColor;
        line-height: 28px;
        text-align: justify;

        @include media-mobile{
            line-height: 1.4;
        }

        &--italic{
            font-style: italic;
        }
    }
    &__header{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        bottom: 0;
    }
    &__line{
        width: 84%;
        height: 1px;
        background-color: $gray;
        display: block;        
        margin-bottom: 25px;
        position: relative;
        margin-top: 25px;

        @include media-mobile{
            width: auto;
        }
        &--first{
            margin-top: 10px;
        }
        &--l{
            margin-left: 88px;

            @include media-mobile{
                margin-left: 25px;
            }
            &::before{
                content: '\201C';
                font-size: 72px;
                color: $gray;
                position: absolute;
                left: -90px;
                top: -26px;
                font-weight: bold;

                @include media-mobile{
                    font-size: 36px;
                    left: -25px;
                    top: -20px;
                }
            } 
        }
        &--r{
            margin-left: 0;
            margin-right: 88px;

            @include media-mobile{
                margin-right: 25px;
            }
            &::before{
                content: '\201C';
                font-size: 72px;
                color: $gray;
                position: absolute;
                right: -90px;
                top: -29px;
                font-weight: bold;

                @include media-mobile{
                    font-size: 36px;
                    right: -25px;
                    top: -20px;
                }
            } 
        }               
    }

    &__mobile-tab{
        display: none;

        @include media-tablet{
            display: block;
        }

        @include media-mobile{
            display: block;
        }

        &-list{
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: 0;
        }

        &-item{
            font-size: 12px;
            color: $textColorLight;
            cursor: pointer;

            &--active{
                text-decoration: underline;
                color: $textColor;
                font-weight: bold;
            }
        }
    }
}

.about-company{

    @include media-tablet{
        &__logo{
            justify-content: center;
        }
    }

    @include media-mobile{
        .section-title{
            margin-top: 60px;
        }

        &__logo{
            display: none;
        }
    }

    
    
}

//--sct-8------
.partners{

    @include media-mobile{
        .section-title{
            margin-top: 60px;
        }
    }
    &__row{
        margin-bottom: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item{
        margin-bottom: 25px;

        @include media-mobile{
            margin-bottom: 15px;
        }
    }

    &__link{
        min-width: 190px;

        @include media-mobile{
            min-width: auto;
        }
    }
    &__logo{
        filter: grayscale(.9);
            max-width: 100%;
            height: auto;
        &:hover{
            filter: grayscale(0);
        }

        @include media-mobile{
            
        }
    }
}

//--sct-9------
.reward{

    @include media-tablet{
        display: none;
    }

    @include media-mobile{
        display: none;
        
        .section-title{
            margin-top: 60px;
        }
    }
    &__row{
        height: 300px;
    }
    &__col-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__col-text-wrapper{
        text-align: right;
        padding-right: 20px;

        @include media-mobile{
            text-align: center;
        }
        &--text-left{
            text-align: left;
        }
    }
    &__text{
        @extend .text;
        text-align: right;

        @include media-mobile{
            text-align: center;
        }
    }
    &__header{
        margin-bottom: 18px;
        text-transform: uppercase;
        font-size: 20px;
    }
    &__wrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__pointer{
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid $gray;
        margin-left: auto;
        margin-right: auto;
    }
    &__vertical-line{
        height: 100%;
        width: 2px;
        background-color: $gray;
        position: absolute;
        &--r{
            left: 79px;
        }
        &--l{
            right: 78px;
        }
        &--start,&--end{
            height: 14px;
            position: static;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__img{
        width: 195px;
        height: 195px;
        border-radius: 50%;
        position: absolute;
        top: 50px;
        z-index: 2;
        &--r{
            left: -15px;
        }
        &--l{
            right: -18px;
        }
    }
    &__horizontal-line{
        height: 2px;
        width: 310px;
        background-color: $gray;
        position: absolute;
        top: 147px;
        &--right{            
            left: 175px;
        }
        &--left{
            right: 175px;
        }
    }
    &__icon{
        position: absolute;
        top:65px;
        width: 165px;
        height: 165px;

        &:hover{
            cursor: pointer;
        }

        &--diplom-r{            
            background: url('../images/dest/reward_diplom.png') no-repeat center center;
            left: 240px;            
        }
        &--diplom-l{            
            background: url('../images/dest/reward_diplom.png') no-repeat center center;
            right: 235px;            
        }
        &--medal-r{
            background: url('../images/dest/reward_medal.png') no-repeat center center;
            left:465px;
        }        
    }
    &__icon-line{
        &--r{
            &::before{
                content: ' ';
                height: 2px;
                background-color: $gray;
                position: absolute;
                width: 60px;
                top: 83px;
                left: -60px;
            }
        }
        &--l{
            &::before{
                content: ' ';
                height: 2px;
                background-color: $gray;
                position: absolute;
                width: 60px;
                top: 83px;
                right: -58px;
            }
        }
    }
}

.reward-mobile{

    display: none;

    @include media-tablet{
        display: block;
    }

    @include media-mobile{

        display: block;

        .section-title{
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    &__row{
        margin-bottom: 40px;
    }
    &__col-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__col-text-wrapper{
        text-align: right;
        padding-right: 20px;

        @include media-mobile{
            text-align: center;
        }
        &--text-left{
            text-align: left;
        }
    }
    &__text{
        @extend .text;
        text-align: right;

        @include media-mobile{
            text-align: center;
        }
    }
    &__header{
        margin-bottom: 18px;
        text-transform: uppercase;
        font-size: 20px;
    }
    &__wrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__pointer{
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid $gray;
        margin-left: auto;
        margin-right: auto;
    }
    &__vertical-line{
        height: 100%;
        width: 2px;
        background-color: $gray;
        position: absolute;

        &--start,&--end{
            height: 20px;
            position: initial;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__img{
        width: 195px;
        height: 195px;
        border-radius: 50%;
        z-index: 2;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &__icon{
        width: 165px;
        height: 165px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:hover{
            cursor: pointer;
        }

        &--diplom{            
            background: url('../images/dest/reward_diplom.png') no-repeat center center;          
        }
        &--medal{
            background: url('../images/dest/reward_medal.png') no-repeat center center;
        }        
    }
    
}

//--sct-10------
.contacts{
    margin-top: 80px;
    background: url('../images/dest/bg-8.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    @include media-tablet{
        text-align: center;
    }

    @include media-mobile{
        text-align: center;
    }
    &__contacts-block{
        margin-bottom: 60px;

        @include media-mobile{
            margin-bottom: 20px;
        } 
    }
    &__header-left{
        text-align: left;
        // margin-bottom: 17px;

        @include media-tablet{
            text-align: center;
        }

        @include media-mobile{
            text-align: center;
        }
    }
    &__under-header{
        color: $textColorLight;
        margin-bottom: 60px;
    }
    &__phone{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
    }
    &__email{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
    }
    &__stock{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;
        display: block;
    }
    &__text{
        font-size: 16px;
        margin-top: 0;
        color: $textColorLight;
        text-decoration: none;

        @include media-mobile{
            &:hover{
                color: $textColorLight;
            }
        }
    }
}
.social-icons{
    display: flex;
    margin-bottom: 50px;

    @include media-tablet{
        justify-content: center;
    }

    @include media-mobile{
        justify-content: center;
    }

    &__link{
        width: 67px;
        height: 67px;
        margin-right: 30px;

        @include media-mobile{
            width: 36px;
            height: 36px;
            margin-right: 20px;

            &:last-child{
                margin-right: 0;
            }
        }

        svg{
            width: 67px;
            height: 67px;

            @include media-mobile{
                width: 36px;
                height: 36px;
            }
        }
    }

}

.contact-form{
    margin-top: 78px;
    margin-bottom: 55px;

    @include media-mobile{
        margin-top: 35px;
    }

    &__input-wrapper{
        height: 40px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @include media-mobile{
            margin-bottom: 40px;
        }
    }
    
    &__input{
        border: none;
        background-color: transparent;
        font-size: 16px;
        width: 100%;
        &:focus{
            outline: none;
        }    
    }
    &__button{
        margin-left: auto;
        margin-right: auto;
        font-family: $tinos;
    }
}

.term__link:hover{
    color: #007bff;
    text-decoration: underline;
}

//--footer-------

.footer{

    @include media-tablet{
        margin-top: 80px;
    }

    @include media-mobile{
        margin-top: 80px;
    }
    &__row{
        height: 150px;
    }
    &__menu-item{
        margin-right: 20px;

        @include media-tablet{
            margin-bottom: 0;
        }

        @include media-mobile{
            margin-bottom: 0;
        }
    }
    &__menu-cop{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__cont-cop{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__mobile-cop{
        display: none;

        &-copyright{
            display: block!important;
            margin-bottom: 0!important;

            .text{
                text-align: center;
                margin-bottom: 0;
            }
        }

        &-copyright-2{
            display: block!important;

            .footer-contacts__text{
                text-align: center;
            }
        }

        @include media-tablet{
            display: block;
            order: 3;
            margin-top: 15px;
        }

        @include media-mobile{
            display: block;
            order: 3;
            margin-top: 15px;
        }
    }
}
.footer-menu{

    @include media-tablet{
        display: flex;
        justify-content: center;
    }

    @include media-mobile{
        display: flex;
        justify-content: center;
    }
    &__list{
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;

        @include media-tablet{            
            justify-content: center;
            flex-direction: row;
        }

        @include media-mobile{            
            justify-content: center;
            flex-direction: row;
        }
    }
}
.footer-contacts{
    &__wrapper{
        display: flex;
        justify-content: flex-end;

        @include media-tablet{
            justify-content: center;
        }

        @include media-mobile{
            justify-content: center;
        }
    }
    &__link{
        @include link;
    }
    &__email{
        margin-right: 20px;
    }
    &__text{
        margin: 0;
    }
    &__copyright{
        margin-bottom: 20px;

        @include media-tablet{
            display: none;
        }

        @include media-mobile{
            display: none;
        }
    }
    &__copyright-2{
        margin-bottom: 20px;

        @include media-tablet{
            display: none;
        }

        @include media-mobile{
            display: none;
        }
    }
}

.footer-logo{

    @include media-tablet{
        order: 2; 
        margin-top: 15px;
    }
     
    @include media-mobile{
        order: 2; 
        margin-top: 15px;
    }
}

// --Modal------

    .modal{
        
        font-size: 16px;

        &__content{
            border: 0;
            box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
        }

        &__logo{
            margin-bottom: 30px;
        }

        &__title{
            font-size: 20px;
            color: $textColor;
            margin-top: 0;
            font-weight: bold;
        }

        &__text{
            color: $textColorLight;
            line-height: 20px;
        }

        &__link-out{
            width: 225px;
        }

        &__img{
            max-width: 100%;
            max-height: 100%;
        }
    }
  

  .no-scroll{
      overflow: hidden;
  }

  .modal{   //bootstrap modal

    &-header{

        &--noborder{
            border-bottom: 0;
        }
    }

    &-footer{
        border-top: 0;
        justify-content: center;
    }

    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }
  }